@import url(https://fonts.googleapis.com/css?family=Barlow:400,400i,700,700i,900,900i&display=swap);
@import url(https://fonts.googleapis.com/css?family=Permanent+Marker&display=swap);
@import url(https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i&display=swap);





body {
  font-family: Roboto;
}
.display-1 {
  font-family: 'Barlow', sans-serif;
  font-size: 6rem;
  line-height: 1;
}
.display-1 > .mbr-iconfont {
  font-size: 9.6rem;
}
.display-2 {
  font-family: 'Barlow', sans-serif;
  font-size: 3.8rem;
  line-height: 1.1;
}
.display-2 > .mbr-iconfont {
  font-size: 5.32rem;
}
.display-4 {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.8;
}
.display-4 > .mbr-iconfont {
  font-size: 1.2rem;
}
.display-5 {
  font-family: 'Permanent Marker', cursive;
  font-size: 1.6rem;
  line-height: 1.4;
}
.display-5 > .mbr-iconfont {
  font-size: 1.92rem;
}
.display-7 {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
}
.display-7 > .mbr-iconfont {
  font-size: 1.92rem;
}
/* ---- Fluid typography for mobile devices ---- */
/* 1.4 - font scale ratio ( bootstrap == 1.42857 ) */
/* 100vw - current viewport width */
/* (48 - 20)  48 == 48rem == 768px, 20 == 20rem == 320px(minimal supported viewport) */
/* 0.65 - min scale variable, may vary */
@media (max-width: 768px) {
  .display-1 {
    font-size: 4.8rem;
    font-size: calc( 2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1 * (2.75rem + (6 - 2.75) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-2 {
    font-size: 3.04rem;
    font-size: calc( 1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.1 * (1.98rem + (3.8 - 1.98) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-4 {
    font-size: 0.8rem;
    font-size: calc( 1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.8 * (1rem + (1 - 1) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-5 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
  .display-7 {
    font-size: 1.28rem;
    font-size: calc( 1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20)));
    line-height: calc( 1.4 * (1.21rem + (1.6 - 1.21) * ((100vw - 20rem) / (48 - 20))));
  }
}
/* Buttons */
.btn-success:hover {
  background: #29361a !important;
  border-color: #29361a !important;
}
.btn-secondary {
  color: black!important;
}
.btn-secondary:hover,
.btn-secondary:active {
  color: black!important;
  background: #f9ad05 !important;
  border-color: #f9ad05 !important;
}
.btn-primary {
  color: white!important;
}
.btn-primary:hover {
  background: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info {
  color: white!important;
}
.btn-success:hover {
  background: #29361a !important;
  border-color: #29361a !important;
}
.btn {
  padding: 1rem 3rem;
  border-radius: 3px;
}
.btn-sm {
  padding: 0.6rem 1.5rem;
  border-radius: 3px;
}
.btn-md {
  padding: 1rem 2.6rem;
  border-radius: 6px;
}
.btn-lg {
  padding: 1.2rem 3.2rem;
  border-radius: 6px;
}
.bg-primary {
  background-color: #e7272d !important;
}
.bg-success {
  background-color: #89b758 !important;
}
.bg-info {
  background-color: #29361a !important;
}
.bg-warning {
  background-color: #808080 !important;
}
.bg-danger {
  background-color: #b1a374 !important;
}
.btn-primary,
.btn-primary:active {
  background-color: #e7272d !important;
  border-color: #e7272d !important;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary.active {
  color: #ffffff;
  background-color: #e7272d;
  border-color: #e7272d;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff;
  background-color: #e7272d !important;
  border-color: #e7272d !important;
}
.btn-secondary,
.btn-secondary:active {
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary.active {
  color: #ffffff;
  background-color: #fbbe36;
  border-color: #fbbe36;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff;
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info,
.btn-info:active {
  background-color: #29361a !important;
  border-color: #29361a !important;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info.active {
  color: #ffffff;
  background-color: #29361a;
  border-color: #29361a;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff;
  background-color: #29361a !important;
  border-color: #29361a !important;
}
.btn-success,
.btn-success:active {
  background-color: #89b758 !important;
  border-color: #89b758 !important;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success.active {
  color: #ffffff;
  background-color: #89b758;
  border-color: #89b758;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff;
  background-color: #89b758 !important;
  border-color: #89b758 !important;
}
.btn-warning,
.btn-warning:active {
  background-color: #808080 !important;
  border-color: #808080 !important;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-danger,
.btn-danger:active {
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-white {
  color: #333333 !important;
}
.btn-white,
.btn-white:active {
  background-color: #ffffff !important;
  border-color: #ffffff !important;
  color: #808080;
}
.btn-white:hover,
.btn-white:focus,
.btn-white.focus,
.btn-white.active {
  color: #808080;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-white.disabled,
.btn-white:disabled {
  color: #808080;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-black,
.btn-black:active {
  background-color: #333333 !important;
  border-color: #333333 !important;
  color: #ffffff;
}
.btn-black:hover,
.btn-black:focus,
.btn-black.focus,
.btn-black.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black.disabled,
.btn-black:disabled {
  color: #ffffff;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-primary-outline,
.btn-primary-outline:active {
  background: none;
  border-color: #971115;
  color: #971115;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #e7272d;
  border-color: #e7272d;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #e7272d !important;
  border-color: #e7272d !important;
}
.btn-secondary-outline,
.btn-secondary-outline:active {
  background: none;
  border-color: #c78b04;
  color: #c78b04;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #fbbe36;
  border-color: #fbbe36;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #fbbe36 !important;
  border-color: #fbbe36 !important;
}
.btn-info-outline,
.btn-info-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #29361a;
  border-color: #29361a;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #29361a !important;
  border-color: #29361a !important;
}
.btn-success-outline,
.btn-success-outline:active {
  background: none;
  border-color: #567633;
  color: #567633;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #89b758;
  border-color: #89b758;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #89b758 !important;
  border-color: #89b758 !important;
}
.btn-warning-outline,
.btn-warning-outline:active {
  background: none;
  border-color: #4d4d4d;
  color: #4d4d4d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #808080;
  border-color: #808080;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #808080 !important;
  border-color: #808080 !important;
}
.btn-danger-outline,
.btn-danger-outline:active {
  background: none;
  border-color: #7a6e45;
  color: #7a6e45;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #b1a374;
  border-color: #b1a374;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #b1a374 !important;
  border-color: #b1a374 !important;
}
.btn-black-outline,
.btn-black-outline:active {
  background: none;
  border-color: #000000;
  color: #000000;
}
.btn-black-outline:hover,
.btn-black-outline:focus,
.btn-black-outline.focus,
.btn-black-outline.active {
  color: #ffffff;
  background-color: #333333;
  border-color: #333333;
}
.btn-black-outline.disabled,
.btn-black-outline:disabled {
  color: #ffffff !important;
  background-color: #333333 !important;
  border-color: #333333 !important;
}
.btn-white-outline,
.btn-white-outline:active,
.btn-white-outline.active {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-white-outline:hover,
.btn-white-outline:focus,
.btn-white-outline.focus {
  color: #333333;
  background-color: #ffffff;
  border-color: #ffffff;
}
.text-primary {
  color: #e7272d !important;
}
.text-secondary {
  color: #fbbe36 !important;
}
.text-success {
  color: #89b758 !important;
}
.text-info {
  color: #29361a !important;
}
.text-warning {
  color: #808080 !important;
}
.text-danger {
  color: #b1a374 !important;
}
.text-white {
  color: #ffffff !important;
}
.text-black {
  color: #000000 !important;
}
a.text-primary:hover,
a.text-primary:focus {
  color: #f18386 !important;
}
a.text-secondary:hover,
a.text-secondary:focus {
  color: #fdde9a !important;
}
a.text-success:hover,
a.text-success:focus {
  color: #bbd69f !important;
}
a.text-info:hover,
a.text-info:focus {
  color: #5d7b3b !important;
}
a.text-warning:hover,
a.text-warning:focus {
  color: #b3b3b3 !important;
}
a.text-danger:hover,
a.text-danger:focus {
  color: #d6ceb5 !important;
}
a.text-white:hover,
a.text-white:focus {
  color: #ffffff !important;
}
a.text-black:hover,
a.text-black:focus {
  color: #4d4d4d !important;
}
.alert-success {
  background-color: #70c770;
}
.alert-info {
  background-color: #29361a;
}
.alert-warning {
  background-color: #808080;
}
.alert-danger {
  background-color: #b1a374;
}
.mbr-section-btn a.btn:not(.btn-form) {
  border-radius: 100px;
}
.mbr-section-btn a.btn:not(.btn-form):hover,
.mbr-section-btn a.btn:not(.btn-form):focus {
  box-shadow: none !important;
}
.mbr-gallery-filter li a {
  border-radius: 100px !important;
}
.mbr-gallery-filter li.active .btn {
  background-color: #e7272d;
  border-color: #e7272d;
  color: #ffffff;
}
.mbr-gallery-filter li.active .btn:focus {
  box-shadow: none;
}
.nav-tabs .nav-link {
  border-radius: 100px !important;
}
a,
a:hover {
  color: #e7272d;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #fbdfe0;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #c8ddb1;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #9dbe78;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #c0c0c0;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #dfd9c6;
}
/* Scroll to top button*/
.scrollToTop_wraper {
  display: none;
}
.form-control {
  font-family: 'Barlow', sans-serif;
  font-size: 1.6rem;
}
.form-control > .mbr-iconfont {
  font-size: 1.92rem;
}
blockquote {
  border-color: #e7272d;
}
/* Forms */
.mbr-form .btn {
  margin: .4rem 0;
}
.mbr-form .input-group-btn a.btn {
  border-radius: 100px !important;
}
.mbr-form .input-group-btn a.btn:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.mbr-form .input-group-btn button[type="submit"] {
  border-radius: 100px !important;
  padding: 1rem 3rem;
}
.mbr-form .input-group-btn button[type="submit"]:hover {
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.jq-selectbox li:hover,
.jq-selectbox li.selected {
  background-color: #e7272d;
  color: #ffffff;
}
.jq-selectbox .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:after,
.jq-number__spin.plus:after {
  transition: 0.4s;
  border-top-color: gray !important;
  border-bottom-color: gray !important;
}
.jq-selectbox:hover .jq-selectbox__trigger-arrow,
.jq-number__spin.minus:hover:after,
.jq-number__spin.plus:hover:after {
  border-top-color: #e7272d;
  border-bottom-color: #e7272d;
}
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current {
  color: #ffffff !important;
  background-color: #e7272d !important;
  box-shadow: none !important;
}
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover {
  color: #000000 !important;
  background: #fbbe36 !important;
  box-shadow: none !important;
}
.lazy-bg {
  background-image: none !important;
}
.lazy-placeholder:not(section),
.lazy-none {
  display: block;
  position: relative;
  padding-bottom: 56.25%;
  width: 100%;
  height: auto;
}
iframe.lazy-placeholder,
.lazy-placeholder:after {
  content: '';
  position: absolute;
  width: 200px;
  height: 200px;
  background: transparent no-repeat center;
  background-size: contain;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='32' height='32' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg' stroke='%23e7272d' %3e%3cg fill='none' fill-rule='evenodd'%3e%3cg transform='translate(16 16)' stroke-width='2'%3e%3ccircle stroke-opacity='.5' cx='16' cy='16' r='16'/%3e%3cpath d='M32 16c0-9.94-8.06-16-16-16'%3e%3canimateTransform attributeName='transform' type='rotate' from='0 16 16' to='360 16 16' dur='1s' repeatCount='indefinite'/%3e%3c/path%3e%3c/g%3e%3c/g%3e%3c/svg%3e");
}
section.lazy-placeholder:after {
  opacity: 0.5;
}
body {
  overflow-x: hidden;
}
a {
  transition: color 0.6s;
}
.cid-rNyLiRk8lS .dropdown-item:before {
  font-family: MobiriseIcons !important;
  content: '\e966';
  display: inline-block;
  width: 0;
  position: absolute;
  left: 1rem;
  top: 0.5rem;
  margin-right: 0.5rem;
  line-height: 1;
  font-size: inherit;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  -webkit-transform: scale(0, 1);
  transform: scale(0, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rNyLiRk8lS .dropdown-item:not(:last-child) {
  border-bottom: 1px solid lightgray;
}
.cid-rNyLiRk8lS .dropdown-menu {
  padding: 0;
  background: #ffffff !important;
}
.cid-rNyLiRk8lS .dropdown-item {
  color: #000000 !important;
}
.cid-rNyLiRk8lS .dropdown-item:hover {
  color: #000000 !important;
}
.cid-rNyLiRk8lS .nav-link {
  position: relative;
  font-weight: 600;
}
.cid-rNyLiRk8lS .nav-link:hover {
  color: #fbbe36 !important;
}
.cid-rNyLiRk8lS .btn-white {
  color: #e7272d !important;
}
.cid-rNyLiRk8lS .btn:hover {
  border-color: #fbbe36 !important;
  color: #fbbe36 !important;
}
.cid-rNyLiRk8lS .nav-dropdown .link {
  padding: 0 0.3em !important;
  margin: .667em 1em !important;
}
.cid-rNyLiRk8lS .nav-dropdown .link.dropdown-toggle::after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
}
.cid-rNyLiRk8lS .container {
  display: flex;
  margin: auto;
}
.cid-rNyLiRk8lS .navbar.navbar-short .nav-link,
.cid-rNyLiRk8lS .navbar.navbar-short .navbar-caption,
.cid-rNyLiRk8lS .navbar.navbar-short .mbr-iconfont {
  color: #ffffff !important;
  border-color: #ffffff;
}
.cid-rNyLiRk8lS .navbar.navbar-short .hamburger span {
  background: #ffffff !important;
}
.cid-rNyLiRk8lS .navbar-caption {
  padding-right: 3rem;
}
.cid-rNyLiRk8lS .navbar.opened {
  background: #000000 !important;
}
.cid-rNyLiRk8lS .nav-item:focus,
.cid-rNyLiRk8lS .nav-link:focus {
  outline: none;
}
.cid-rNyLiRk8lS .dropdown .dropdown-menu .dropdown-item {
  width: auto;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rNyLiRk8lS .dropdown .dropdown-menu .dropdown-item::after {
  right: 0.5rem;
}
.cid-rNyLiRk8lS .dropdown .dropdown-menu .dropdown-item .mbr-iconfont {
  margin-left: -1.8rem;
  padding-right: 1rem;
  font-size: inherit;
}
.cid-rNyLiRk8lS .dropdown .dropdown-menu .dropdown-item .mbr-iconfont:before {
  display: inline-block;
  -webkit-transform: scale(1, 1);
  transform: scale(1, 1);
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}
.cid-rNyLiRk8lS .collapsed .dropdown-menu .dropdown-item:before {
  display: none;
}
.cid-rNyLiRk8lS .collapsed .dropdown .dropdown-menu .dropdown-item {
  padding: 0.5em 1.5em 0.5em 1.5em !important;
  transition: none;
  margin: 0 !important;
}
.cid-rNyLiRk8lS .navbar {
  min-height: 77px;
  transition: all .3s;
  background: #000000;
  background: none;
}
.cid-rNyLiRk8lS .navbar.opened {
  transition: all .3s;
}
.cid-rNyLiRk8lS .navbar .dropdown-item {
  padding: .5rem 1.5rem;
}
.cid-rNyLiRk8lS .navbar .navbar-collapse {
  justify-content: flex-end;
  z-index: 1;
}
.cid-rNyLiRk8lS .navbar.collapsed .nav-item .nav-link::before {
  display: none;
}
.cid-rNyLiRk8lS .navbar.collapsed.opened .dropdown-menu {
  top: 0;
}
@media (min-width: 992px) {
  .cid-rNyLiRk8lS .navbar.collapsed.opened:not(.navbar-short) .navbar-collapse {
    max-height: calc(98.5vh - 3.8rem);
  }
}
.cid-rNyLiRk8lS .navbar.collapsed .dropdown-menu .dropdown-submenu {
  left: 0 !important;
}
.cid-rNyLiRk8lS .navbar.collapsed .dropdown-menu .dropdown-item:after {
  right: auto;
}
.cid-rNyLiRk8lS .navbar.collapsed .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
  margin-left: 0.5rem;
  margin-top: 0.2rem;
  border-top: 0.35em solid;
  border-right: 0.35em solid transparent;
  border-left: 0.35em solid transparent;
  border-bottom: 0;
  top: 55%;
}
.cid-rNyLiRk8lS .navbar.collapsed ul.navbar-nav li {
  margin: auto;
}
.cid-rNyLiRk8lS .navbar.collapsed .dropdown-menu .dropdown-item {
  padding: .25rem 1.5rem;
  text-align: center;
}
.cid-rNyLiRk8lS .navbar.collapsed .icons-menu {
  padding-left: 0;
  padding-top: .5rem;
  padding-bottom: .5rem;
}
@media (max-width: 991px) {
  .cid-rNyLiRk8lS .navbar .nav-item .nav-link::before {
    display: none;
  }
  .cid-rNyLiRk8lS .navbar.opened .dropdown-menu {
    top: 0;
  }
  .cid-rNyLiRk8lS .navbar .dropdown-menu .dropdown-submenu {
    left: 0 !important;
  }
  .cid-rNyLiRk8lS .navbar .dropdown-menu .dropdown-item:after {
    right: auto;
  }
  .cid-rNyLiRk8lS .navbar .dropdown-menu .dropdown-toggle[data-toggle="dropdown-submenu"]:after {
    margin-left: 0.5rem;
    margin-top: 0.2rem;
    border-top: 0.35em solid;
    border-right: 0.35em solid transparent;
    border-left: 0.35em solid transparent;
    border-bottom: 0;
    top: 55%;
  }
  .cid-rNyLiRk8lS .navbar .navbar-logo img {
    height: 3.8rem !important;
  }
  .cid-rNyLiRk8lS .navbar ul.navbar-nav li {
    margin: auto;
  }
  .cid-rNyLiRk8lS .navbar .dropdown-menu .dropdown-item {
    padding: .25rem 1.5rem !important;
    text-align: center;
  }
  .cid-rNyLiRk8lS .navbar .navbar-brand {
    -webkit-flex-shrink: initial;
    flex-shrink: initial;
    -webkit-flex-basis: auto;
    flex-basis: auto;
    word-break: break-word;
    padding-right: 2rem;
  }
  .cid-rNyLiRk8lS .navbar .navbar-toggler {
    -webkit-flex-basis: auto;
    flex-basis: auto;
  }
  .cid-rNyLiRk8lS .navbar .icons-menu {
    padding-left: 0;
    padding-top: .5rem;
    padding-bottom: .5rem;
  }
}
.cid-rNyLiRk8lS .navbar.navbar-short {
  background: #000000 !important;
  min-height: 60px;
}
.cid-rNyLiRk8lS .navbar.navbar-short .navbar-logo img {
  height: 3rem !important;
}
.cid-rNyLiRk8lS .navbar.navbar-short .navbar-brand {
  padding: 0;
}
.cid-rNyLiRk8lS .navbar-brand {
  -webkit-flex-shrink: 0;
  flex-shrink: 0;
  -webkit-align-items: center;
  align-items: center;
  margin-right: 0;
  padding: 0;
  transition: all .3s;
  word-break: break-word;
  z-index: 1;
}
.cid-rNyLiRk8lS .navbar-brand .navbar-caption {
  line-height: inherit !important;
}
.cid-rNyLiRk8lS .navbar-brand .navbar-logo a {
  outline: none;
}
.cid-rNyLiRk8lS .dropdown-item.active,
.cid-rNyLiRk8lS .dropdown-item:active {
  background-color: transparent;
}
.cid-rNyLiRk8lS .navbar-expand-lg .navbar-nav .nav-link {
  padding: 0;
}
.cid-rNyLiRk8lS .nav-dropdown .link.dropdown-toggle {
  margin-right: 1.667em;
}
.cid-rNyLiRk8lS .nav-dropdown .link.dropdown-toggle[aria-expanded="true"] {
  margin-right: 0;
  padding: 0.667em 1.667em;
}
.cid-rNyLiRk8lS .navbar.navbar-expand-lg .dropdown .dropdown-menu {
  background: #000000;
}
.cid-rNyLiRk8lS .navbar.navbar-expand-lg .dropdown .dropdown-menu .dropdown-submenu {
  margin: 0;
  left: 100%;
}
.cid-rNyLiRk8lS .navbar .dropdown.open > .dropdown-menu {
  display: block;
}
.cid-rNyLiRk8lS ul.navbar-nav {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}
.cid-rNyLiRk8lS .navbar-buttons {
  text-align: center;
}
.cid-rNyLiRk8lS button.navbar-toggler {
  outline: none;
  width: 31px;
  height: 20px;
  cursor: pointer;
  transition: all .2s;
  position: relative;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rNyLiRk8lS button.navbar-toggler .hamburger span {
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  border-right: 5px;
  background-color: #ffffff;
}
.cid-rNyLiRk8lS button.navbar-toggler .hamburger span:nth-child(1) {
  top: 0;
  transition: all .2s;
}
.cid-rNyLiRk8lS button.navbar-toggler .hamburger span:nth-child(2) {
  top: 8px;
  transition: all .15s;
}
.cid-rNyLiRk8lS button.navbar-toggler .hamburger span:nth-child(3) {
  top: 8px;
  transition: all .15s;
}
.cid-rNyLiRk8lS button.navbar-toggler .hamburger span:nth-child(4) {
  top: 16px;
  transition: all .2s;
}
.cid-rNyLiRk8lS nav.opened .hamburger span:nth-child(1) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rNyLiRk8lS nav.opened .hamburger span:nth-child(2) {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  transition: all .25s;
}
.cid-rNyLiRk8lS nav.opened .hamburger span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  transition: all .25s;
}
.cid-rNyLiRk8lS nav.opened .hamburger span:nth-child(4) {
  top: 8px;
  width: 0;
  opacity: 0;
  right: 50%;
  transition: all .2s;
}
.cid-rNyLiRk8lS .navbar-dropdown {
  padding: .5rem 1rem;
  position: fixed;
}
.cid-rNyLiRk8lS a.nav-link {
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.cid-rNyLiRk8lS .mbr-iconfont {
  font-size: 1.5rem;
  padding-right: .5rem;
}
.cid-rNyLiRk8lS .icons-menu {
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.3rem;
  text-align: center;
}
.cid-rNyLiRk8lS .icons-menu span {
  font-size: 20px;
  color: #ffffff;
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .cid-rNyLiRk8lS .navbar {
    height: 77px;
  }
  .cid-rNyLiRk8lS .navbar.opened {
    height: auto;
  }
  .cid-rNyLiRk8lS .nav-item .nav-link:hover::before {
    width: 175%;
    max-width: calc(100% + 2rem);
    left: -1rem;
  }
}
.cid-rNyLkxVuW7 {
  padding-top: 150px;
  padding-bottom: 75px;
  background-color: #f3f7ee;
}
.cid-rNyLkxVuW7 H2 {
  color: #89b758;
}
.cid-rNyLkxVuW7 .mbr-text,
.cid-rNyLkxVuW7 .mbr-section-btn {
  color: #808080;
}
.cid-rNyLkxVuW7 img {
  max-width: 1000px;
  margin: auto;
}
@media (max-width: 992px) {
  .cid-rNyLkxVuW7 img {
    max-width: 500px;
    margin: auto;
  }
}
.cid-rNyLkxVuW7 H1 {
  color: #29361a;
}
.cid-rNyLGkhVom {
  padding-top: 45px;
  padding-bottom: 45px;
  background-color: #ffffff;
}
.cid-rNyLGkhVom .mbr-text {
  color: #767676;
}
.cid-rNyLGkhVom .card-subtitle {
  margin: 0;
}
.cid-rNyLGkhVom .item-wrapper {
  background: #ffffff;
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.03);
  padding: 1.5rem;
  border-radius: 9px;
  transition: all 0.6s;
}
.cid-rNyLGkhVom img {
  object-fit: cover;
  height: 100%;
  transition: all 0.6s;
  border-radius: 9px;
}
.cid-rNyLGkhVom .card-box {
  padding: 1rem;
}
.cid-rNyLGkhVom .link {
  transition: all 0.3s;
}
.cid-rNyLGkhVom .link-inline {
  display: inline-block;
  width: fit-content;
}
.cid-rNyLGkhVom .mbr-section-btn span {
  order: 2;
  padding: 0;
  margin-left: 1rem;
}
.cid-rNyLGkhVom .mbr-section-btn .btn {
  border: 0px;
}
.cid-rNyLGkhVom .mbr-section-btn .btn:hover {
  background: inherit!important;
  color: inherit!important;
}
.cid-rNyLGkhVom h4,
.cid-rNyLGkhVom h6,
.cid-rNyLGkhVom h5 {
  margin: 0;
}
.cid-rNyLGkhVom .link-wrap {
  display: flex;
  width: fit-content;
  align-items: center;
}
.cid-rNyLGkhVom .link-wrap span {
  margin-left: 0.6rem;
  transition: all 0.3s;
}
.cid-rNyLGkhVom .link-wrap:hover {
  color: #e7272d;
}
.cid-rNyLGkhVom .link-wrap:hover .link {
  color: #e7272d;
}
.cid-rNyLGkhVom .link-wrap:hover span {
  transform: translateX(5px);
}
.cid-rNyLGkhVom .wrapper {
  display: flex;
  margin-bottom: 0.8rem;
}
.cid-rNyLGkhVom .icon-wrap {
  display: flex;
  align-items: center;
}
.cid-rNyLGkhVom .icon-wrap span {
  margin-right: 8px;
}
.cid-rNyLGkhVom .icon-padding {
  padding-left: 2rem;
}
.cid-rNyLGkhVom .card {
  cursor: pointer;
  margin-bottom: 4rem;
}
.cid-rNyLGkhVom .card:hover .card-img:before {
  opacity: 0.3;
  width: 0;
}
.cid-rNyLGkhVom .card:hover .card-img:after {
  opacity: 0.3;
  height: 0;
}
.cid-rNyLGkhVom .card:hover .item-wrapper {
  box-shadow: 0 5px 35px 0 rgba(0, 0, 0, 0.1);
}
.cid-rNyLGkhVom .card:hover img {
  transform: scale(1.1);
}
.cid-rNyLGkhVom .card-img {
  height: 220px;
  border-radius: 9px!important;
  margin-top: -3rem;
  margin-bottom: 1rem;
  overflow: hidden;
  position: relative;
  box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  z-index: 10;
}
.cid-rNyLGkhVom .card-img:before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  z-index: 9;
}
.cid-rNyLGkhVom .card-img:after {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  background: lightgray;
  transition: all 0.6s;
  opacity: 0;
  z-index: 9;
}
.cid-rNyLGkhVom .row {
  justify-content: center;
}
.cid-rNyLGkhVom .location,
.cid-rNyLGkhVom .icon-wrap {
  color: #e7272d;
}
.cid-rNyLGkhVom .link,
.cid-rNyLGkhVom .link-wrap,
.cid-rNyLGkhVom .link-align {
  color: #0e0e0e;
}
@media (max-width: 992px) {
  .cid-rNyLGkhVom .wrapper {
    flex-direction: column;
  }
  .cid-rNyLGkhVom .icon-padding {
    padding-left: 0rem;
  }
  .cid-rNyLGkhVom .card-box {
    padding: 0;
  }
}
.cid-rNyLGkhVom H2 {
  color: #e7272d;
}
.cid-rNyLKr8e03 {
  padding-top: 60px;
  padding-bottom: 75px;
  background-color: #ffffff;
}
.cid-rNyLKr8e03 .card:hover .item-content {
  box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.13);
}
.cid-rNyLKr8e03 .logo {
  max-width: 80px;
  width: 100%;
  margin: auto;
  margin-bottom: 1rem;
}
.cid-rNyLKr8e03 .center {
  box-shadow: 0 30px 100px 0 rgba(0, 0, 0, 0.13);
}
.cid-rNyLKr8e03 .item-content {
  height: 100%;
  z-index: 99;
  transition: all 0.3s;
  padding: 3rem 2rem;
  justify-content: center;
  display: flex;
  flex-direction: column;
}
.cid-rNyLKr8e03 .border1 {
  border-bottom: 2px dotted lightgray;
}
.cid-rNyLKr8e03 .wrapper {
  display: flex;
  justify-content: space-between;
  padding: 16px 0px;
}
.cid-rNyLKr8e03 .icon-wrap {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}
.cid-rNyLKr8e03 .icon-wrap span {
  margin-right: 14px;
  margin-top: 4px;
  font-size: 1.2rem;
  color: #e7272d;
}
.cid-rNyLKr8e03 .bigicon {
  color: #e7272d;
  font-size: 3rem;
  margin-bottom: 1rem;
}
@media (max-width: 767px) {
  .cid-rNyLKr8e03 .item-content {
    padding: 3rem 1rem;
  }
}
.cid-rNyLKr8e03 .mbr-text,
.cid-rNyLKr8e03 .mbr-section-btn {
  color: #808080;
}
.cid-rNyLKr8e03 .location,
.cid-rNyLKr8e03 .icon-wrap {
  color: #e7272d;
}
.cid-rNyLKr8e03 H3 {
  color: #29361a;
}
.cid-rNyLJLv5UU {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #f3f7ee;
}
.cid-rNyLJLv5UU .row-links {
  width: 100%;
}
.cid-rNyLJLv5UU .social-row {
  width: 100%;
  justify-content: flex-end;
  margin: 0;
}
.cid-rNyLJLv5UU .col-lg-6 {
  height: fit-content;
}
.cid-rNyLJLv5UU .soc-item {
  background: #55acee;
  width: 45px;
  cursor: pointer;
  margin: auto;
  height: 45px;
  transition: all 0.3s;
  display: flex;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}
.cid-rNyLJLv5UU .soc-item:hover {
  transform: scale(1.1);
}
.cid-rNyLJLv5UU .row {
  align-items: center;
}
.cid-rNyLJLv5UU .row .foot-menu {
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0;
  margin-bottom: 1rem;
}
.cid-rNyLJLv5UU .row .foot-menu li {
  padding-right: 2rem;
  transition: all 0.3s;
  cursor: pointer;
}
.cid-rNyLJLv5UU .row .foot-menu li:hover {
  color: #e7272d;
}
.cid-rNyLJLv5UU .row .foot-menu li p {
  margin: 0;
}
.cid-rNyLJLv5UU .row .social-list {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}
.cid-rNyLJLv5UU .row .social-list .mbr-iconfont-social {
  font-size: 1.3rem;
  color: #ffffff;
}
.cid-rNyLJLv5UU .row .social-list .soc-item {
  margin: 0 .3rem;
}
.cid-rNyLJLv5UU .row .social-list a {
  margin: 0;
  opacity: 1;
  height: 26px;
  padding-right: 2px;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}
.cid-rNyLJLv5UU .row .social-list a:hover {
  opacity: 1;
}
@media (max-width: 767px) {
  .cid-rNyLJLv5UU .row .social-list {
    -webkit-justify-content: center;
    justify-content: center;
  }
}
.cid-rNyLJLv5UU .row .row-copirayt {
  word-break: break-word;
  width: 100%;
}
.cid-rNyLJLv5UU .row .row-copirayt p {
  width: 100%;
}
@media (max-width: 992px) {
  .cid-rNyLJLv5UU .row-links {
    justify-content: center;
  }
  .cid-rNyLJLv5UU .foot-menu {
    justify-content: center;
  }
  .cid-rNyLJLv5UU .row-copirayt {
    justify-content: center;
    margin: 0;
    margin-bottom: 2rem;
  }
  .cid-rNyLJLv5UU .social-row {
    justify-content: center;
  }
  .cid-rNyLJLv5UU .mbr-text {
    text-align: center;
  }
  .cid-rNyLJLv5UU li {
    padding-right: 1rem!important;
    padding-left: 1rem;
  }
}
@media (max-width: 767px) {
  .cid-rNyLJLv5UU .foot-menu {
    flex-direction: column;
  }
}
.cid-rNyLJLv5UU .foot-menu-item {
  color: #29361a;
}
.cid-rNyLJLv5UU .mbr-text {
  color: #808080;
}
